<!DOCTYPE html>

<head>
    <title>Django Python Online Exam</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#but1").click(function() {
                $(".rb").show();
                $(".rb").attr("disabled", true);
            });

        });

        function getanswers() {
            document.getElementById("UserAnswers").innerHTML = "";
            var e = document.getElementsByTagName('input');
            for (i = 0; i <= e.length; i++) {
                if (e[i].type == "radio") {
                    if (e[i].checked) {
                        document.getElementById("UserAnswers").innerHTML += "Q " + e[i].name + "The answer you have selected is :" + e[i].value + "<br/>";
                    }
                }
            }


        }
    </script>


</head>

<body>
    <center>
        <h1>How to create Online Exam dynamically with mysql</h1>
        <h3>Python django with Javascrip & Jquery</h3>

    </center>

    <div style="padding-left: 30px">
        {% for result in Exam %}
        <table>
            <tr>
                <td>({{result.id}}) {{result.Question}}? </td>

            </tr>
            <tr>
                <td><input type="radio" id="Option1" class="rb" name="{{result.id}}" value="{{result.Option1}}">{{result.Option1}}</td>
            </tr>
            <tr>
                <td><input type="radio" id="Option2" class="rb" name="{{result.id}}" value="{{result.Option2}}">{{result.Option1}}</td>
            </tr>
            <tr>
                <td><input type="radio" id="Option3" class="rb" name="{{result.id}}" value="{{result.Option3}}">{{result.Option1}}</td>
            </tr>
            <tr>
                <td><input type="radio" id="Option4" class="rb" name="{{result.id}}" value="{{result.Option4}}">{{result.Option1}}</td>
            </tr>
            <tr>
                <td><label id="Correct_Answer" class="rb" style="display: none; color: green;"><b>The Correct answer is: {{result.Correct_Answer}}</b></label></td>
                </b>
            </tr>
            <hr/>
        </table>
        {% endfor %}
        <hr/>
        <input type="submit" value="Click for results" id="but1" onclick="getanswers();" />
        <hr/>
        <b id="UserAnswers"></b>
        <hr/>



    </div>


</body>